{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "auto",
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "rangeStart": 0,
  "overrides": [
    {
      "files": ["**/*.json"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
